<div class="row">
  <label for="daterange">Date range (click, then press 'Set' to modify):</label>
  <input [owlDateTimeTrigger]="date_range_component" [owlDateTime]="date_range_component" id="daterange" matInput />
  <owl-date-time #date_range_component [pickerType]="'calendar'"></owl-date-time>
</div>

<div class="row">
  <label for="timerange">Time range (click, then press 'Set' to modify):</label>
  <input [owlDateTimeTrigger]="time_component" [owlDateTime]="time_component" id="timerange" matInput />
  <owl-date-time #time_component [pickerType]="'timer'" [hour12Timer]="true"></owl-date-time>
</div>

<div class="row">
  <label for="both">Both: </label>
  <input [owlDateTimeTrigger]="both_componnet" [owlDateTime]="both_componnet" id="both" matInput />
  <owl-date-time #both_componnet [pickerType]="'both'"></owl-date-time>
</div>
